{{ template "layout" . }}

{{ define "content" }}
<div id="content" style="width: 100%">
    <button id="createScreen">创建</button>
    <ul id="screens">
    </ul>
    <div id="screenOutput">

    </div>
</div>
<style>
</style>
<script>

    function getScreens() {
        axios.get("/api/v1/screen/get_screens").then(function (res) {

            for (const datum of res.data) {
                let screens = document.getElementById("screens")
                let screen = document.createElement("li")
                screen.innerText = datum.id + " : " + datum.name
                screen.className = "screen"
                screens.appendChild(screen)
            }
        });

    }

    getScreens()


    function createScreen() {
        const data = document.getElementsByClassName("screen")
        let sum = 1
        try {
            for (const _ of data) {
                sum++
            }
        } catch {
            sum = 1
        }
        let name = 'terminal'
        let id = sum

        name = encodeURIComponent(name)
        id = encodeURIComponent(id)
        url = `/api/v1/screen/create?id=${id}&name=${name}`
        axios.get(url).then(
            function (res) {
                if (res.data.status === 0) {
                    let screens = document.getElementById("screens")
                    let screen = document.createElement("li")
                    screen.innerText = id + " : " + name
                    screen.className = "screen"
                    screens.appendChild(screen)
                }
            }
        )
    }

    document.getElementById("createScreen").onclick = createScreen

    let idx = 0

    function updateScreenOutput() {
        let id = 1
        // todo 修改为自动获取 id 而不是写死
        axios.get(`/api/v1/screen/output?id=${id}&idx=${idx}`).then(function (response) {
            let screenOutputDiv = document.getElementById('screenOutput');
            if (response.data.status === 0) {
                screenOutputDiv.innerText += response.data.data;
                idx = screenOutputDiv.innerText.length
            }
        }).catch(function (error) {
            console.error(error);
        });
    }

    setInterval(updateScreenOutput, 100);
</script>
{{ end }}