{{ template "layout" . }}

{{ define "content" }}
<div id="content" style="width: 100%">
    <form id="filePwd">


        <label style="
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background: #fec8c8;
    margin: 2%;
    height: 50px;
    margin-bottom: 0;
">
            <input id="pwd" style="width: 90%;" value="{{ .path }}"/>
        </label>
    </form>

    <table id="main">
        <thead>
        <tr id="thread">
            <th>文件名</th>
            <th>文件大小</th>
            <th>修改时间</th>
            <th>文件操作</th>
        </tr>
        </thead>
        <tbody class="tbody relative drop-shadow-xl overflow-scroll rounded-xl">

        </tbody>
    </table>

</div>
<style>
    #main {
        width: 96%;
        height: 88%;
        margin: 2%;
        margin-top: 0;
        text-align: center;
        color: #ff6f6f;
        background: #ffffff;
        border: 1px solid rgba(255, 0, 0, 0.25);

    }


    /*  thead 固定到页头  */
    #main thead {
        position: sticky;
        top: 0;
        background-color: #fde8e8;

    }

    #main th {
        padding: 10px;
        text-align: center;

    }


    #main td {
        padding: 10px;
        text-align: center;;
        margin: 2px;
    }

    #thread th {
        background-color: rgb(228, 228, 228);
    }

    #main tr:nth-child(odd) {
        background-color: #ffffff;
    }

    #main tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #main tr:hover {
        background-color: #fec8c8;
    }

    .fa-folder::before {
        padding-right: 10px;
    }


</style>
<script>
    function dir(path) {
        axios.get("/api/v1/files/dir?path=" + path).then((response) => {
            let data = response.data
            data.files.sort((a, b) => {
                // 如果 a 是目录，b 不是目录，那么 a 应该在前面
                if (a.isDir && !b.isDir) {
                    return -1;
                }
                // 如果 b 是目录，a 不是目录，那么 b 应该在前面
                if (!a.isDir && b.isDir) {
                    return 1;
                }
                // 如果 a 和 b 都是目录，或者都不是目录，那么按照名称进行字母顺序排序
                return a.name.localeCompare(b.name);
            });
            // Todo 增加 .. 返回上一级
            let tbody = document.querySelector("#main tbody")
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }
            for (const idx in data.files) {
                let file = data.files[idx]
                console.log(file.name)
                let tr = document.createElement("tr")
                let td1 = document.createElement("td")
                let td2 = document.createElement("td")
                let td3 = document.createElement("td")
                let td4 = document.createElement("td")
                let button = document.createElement("button")
                if (file.isDir) {
                    button.onclick = () => { dir(encodeURIComponent(file.path))}
                    button.innerText = file.name
                    button.className = "fa fa-folder"

                    td1.appendChild(button)
                } else {
                    td1.innerText = file.name
                }
                if (!file.isDir && !file.isLink) {
                    let size = ""
                    if (file.size > 1073741824) {
                        size = (file.size / 1024 / 1024 / 1024).toFixed(2) + "GB"
                    } else if (file.size > 10488832) {
                        size = (file.size / 1024 / 1024).toFixed(2) + "MB"
                    } else if (file.size > 1024) {
                        size = (file.size / 1024).toFixed(2) + "KB"
                    } else {
                        size = file.size.toFixed(2) + "B"
                    }
                    td2.innerText = size
                }
                td4.innerText = file.path
                if (file.name === "..") {
                    td3.innerText = ""
                } else {
                    td3.innerText = file.time
                }

                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)
                tr.appendChild(td4)
                tbody.appendChild(tr)
                document.getElementById("pwd").value = decodeURIComponent(path)
            }
        })
    }

    dir({{ .path }})

   function submitForm() {
        dir(document.getElementById("pwd").value)
    }

    let filePwd = document.getElementById("filePwd")
    filePwd.onsubmit = function (e) {
        e.preventDefault()
        submitForm()
    }
</script>
{{ end }}