{{ define "aside" }}
<div id="aside">
    <!--    背景    -->
    <img id="aside_background" src="./static/images/aside.png" alt="bg">

    <!--    Logo图片 导入SVG   -->
    <div class="mb-5">
        <img src="./static/images/logo.png" id="logo" alt="logo" style="height: 60%;  width: 60%; margin: auto">
    </div>

    <!--    Logo标题    -->
    <div class="mb-10">
        <h1 id="title_text" class="text-3xl font-bold">LoongPanel</h1>
    </div>

    <nav id="buttons">
        <a href="/">
            <button {{ if .pageHome }} id="activated" {{ end }} class="aside_button fa fa-home">
                首页
            </button>
        </a>
        <button {{ if .pageStatus }} id="activated" {{ end }} class="aside_button fa fa-microchip">
            状态
        </button>
        <button {{ if .pageUser }} id="activated" {{ end }} class="aside_button fa fa-user">
            用户
        </button>
        <button {{ if .pageSetting }} id="activated" {{ end }} class="aside_button fa fa-gear">
            设置
        </button>
        <button {{ if .pageApp }} id="activated" {{ end }} class="aside_button fa fa-archive">
            应用
        </button>
        <a href="/files" class="option">
            <button {{ if .pageFiles }} id="activated" {{ end }} class="aside_button fa fa-file">
                文件
            </button>
        </a>
    </nav>

</div>
{{ end }}